body {
  background-color: #454545;
  color: whitesmoke ;
  font-family: 'Times New Roman';
}

main {
  display: flex;
  flex-direction: row;
}

img {
  border: 1px solid white;
  border-radius: 5px;
  max-width: 350px;
  width: 300px;
  height : 250px;
}

h3{
  color: gold;
}
.quote-content p{
  color: gold;
}

.attribution p {
  color: #8097A6;
  position:absolute;
  width:225;
  bottom: 0;
  right:0;
  font-family: Segoe UI;
}

.attribution {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 0.8rem;
  background-color:  #8a3ab9;
  padding: 10px;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 2px 5px 1px rgba(255,255,255, 0.2);
  text-align: center;
}

a {
  color: white;
}

a:hover {
  opacity: 0.8;
}

.content {
  width: 65%;
  padding-left: 30px;
  padding-right: 20px;
}

.content p {
  max-width: 80%;
}

.click-me {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px dotted #BFA38A;
  height: 85vh;
}

button {
  width: 200px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid #BFA38A;
  background: transparent;
  color: #BFA38A;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1)
}

.reveal-btn {
  border: none;
  text-decoration: underline;
  margin: 0;
}

.reveal-btn:hover {
  color: white;
  background-color: transparent;
}